.DS_Store
node_modules
.env

/lib/rewards/cards/*

# Allow
!lib/rewards/cards/index.js
!lib/rewards/cards/template.js

# holds list of all accounts, probably shouldn't keep in public git repo
accounts.secret.js